<!DOCTYPE html>
<html>
<head>
        <meta charset="UTF-8">
        <title>Title</title>
        <script>if (top !== self) top.location = self.location;</script>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
        <link rel="stylesheet" href="/theme/css/style.css"/>
        <link rel="stylesheet" href="/theme/css/pygments.css" />
        <!--[if lt IE 9]>
        <script type="text/javascript" src="http://aprocysanae.qiniudn.com/html5shiv.js"></script>
        <![endif]-->

</head>
<body>
        <header id="header">
            <nav id="nav" role="navigation">
                <a href="/">Home</a>
                <a href="/archives.html">Archive</a>
                <a href="/tags.html">Tags</a>
                <a href="/about_me.html">About</a>
                <a href="/links.html">Links</a>
            </nav>
        </header>

        <div id="main">
            <div class="container">
                {% block content %}


                {% endblock %}
            </div>
        </div>

<script type="text/javascript" src="/theme/js/mobile.js"></script>
</body>
</html>
