<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <title>花满楼</title>
        <script src="/theme/js/jquery.min.js"></script>
        <script src="/theme/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/theme/css/united-bootstrap.css" media="all">
        <style>
            #bd{
                border:1px solid red;
            } 
        </style>
</head>
<body>
<div class="navbar navbar-default"> <!--导航--->
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">花满楼</a>
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/archives.html">Archive</a></li>
                            <li><a href="/tags.html">Tags</a></li>
                            <li><a href="/">About</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Contact me <b class="caret"></b></a>
                            <ul class="dropdown-menu">
                                <li><a href="https://github.com/becaning">Github</a></li>
                                <li><a href="http://weibo.com/jiepay">微博</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>  
</div>
<div class="container">
    <div class="row">
        <div class="col-md-9 col-md-offset-1">
        {% block content %}

        {% endblock %}
        </div>
    </div>
</div>
<div class="progress progress-striped active">
    <div class="progress-bar" style="width: 100%"></div>
</div>
</body>
</html>
