{% extends "base.html" %}
{% block content %}
<section>
		{% for article in articles_page.object_list %}
	        <article >
	        </article>
                <div class="hentry">
                    <h1 class="entry-title">
                        <a href="{{ SITEURL }}/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>
                        <div class="entry-meta">
                             {{ article.date|strftime('%Y %b %d') }} 
                        </div>
                    </h1>

                    <div class="entry-content">
                    </div>
                </div>
		{% endfor %}

</section><!-- /#content -->
{% endblock content %}
