{% extends "base.html" %}
{% block title %}
<title>{{ SITENAME }}</title>
{% endblock title %}

{% block content %}
    {{ THEMECOLOR }}
<section>
		{% for article in articles_page.object_list %}
        <div>
            <h1>
                <a href="/{{ article.url }}" title="{{ article.title|striptags }}">{{ article.title }}</a>
            </h1>
            <div>
                 {{ article.date|strftime('%Y %b %d') }} 
            </div>
            {{ article.summary }}

        </div>
        <p><a class="btn btn-primary" href="/{{ article.url }}">Read more . . .</a></p>
        <br>
		{% endfor %}

</section><!-- /#content -->
{% endblock content %}
